asgiref==3.7.2
beautifulsoup4==4.12.3
Django==4.2.1
django-bootstrap-v5==1.0.11
django-filter==23.5
gunicorn==21.2.0
mysqlclient==2.2.4
packaging==23.2
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.10.0
