{% load static %}
{% load crispy_forms_filters %}

<div class="h-auto w-auto pe-auto">
  <nav class="navbar h-25" style="background-color: mediumpurple">
    <div class="nav justify-content-center">
      <ul class="nav justify-content-center" style="background-color: mediumpurple">
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url "movie:movie-list"%}">Home Page</a>
      </li>
        <li class="nav-item">
        <a class="nav-link text-white" href="{% url "movie:actor-list"%}">Actors</a>
      </li>
        <li class="nav-item">
        <a class="nav-link text-white" href="{% url "movie:director-list"%}">Directors</a>
      </li>
        <li class="nav-item">
        <a class="nav-link text-white" href="{% url "movie:genre-list"%}">Genres</a>
      </li>
    </ul>
    </div>

    {% if user.id %}
    {% endif %}
  </nav>
</div>